/*.mask {
  &:before {
    pointer-events: none;
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(#444, .5);
    z-index: 200;
    transition: 300ms;
  }
  &:hover::before {
    background: rgba(#444, .0);
  }
}*/

.mask img {
  transition: 1000ms ease-in-out;
  &:hover {
    transform: perspective(1000px) translate3d(0px, 0px, 100px);
    transition: 5000ms ease-out;
  }
}

img {
  max-width: 100%;
}