@import '../common/style.scss';
.slide {
  height: 100vh!important;
  // line-height: 400px!important;
  // width: 100vw!important;
  position: relative;
}

.container {
  position: relative;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  background: rgba(#000, .6);
  color: #fff;
  font-size: 40px;
  transform: translateY(-50%);
  cursor: pointer;
  border-radius: 6px;
  transition: 400ms;
  &:hover {
    background: rgba(#000, .3);
  }
}

.prev {
  left: 40px;
}

.next {
  right: 40px;
}

.img {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  user-select: none;
  -webkit-user-drag: none;
  position: relative;
  z-index: 100;
}

.dots {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
}

.dots li button {
  display: inline-block;
  width: 64px;
  height: 12px;
  background: #878787;
  margin-right: 25px;
  transition: 400ms;
  cursor: pointer;
  font-size: 0;
  border: none;
  outline: none;
}

.dots li {
  display: inline-block;
}

.dots li.slick-active button {
  background: #edecec;
}