.wraper {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  padding-top: 90px;
}

.logo {
  display: inline-block;
  width: 91px;
  height: 55px;
  background: url('../../../assets/logoL.png');
}

.container {
  width: 88%;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  .item {
    .link {
      color: #fff;
    }
    .subnavs_wraper {
      visibility: hidden;
      min-height: 10px;
      position: absolute;
      left: 50%;
      width: 120%;
      padding-top: 11px;
      margin-top: -1px;
      transform: translateX(-50%);
    }
    .subnavs {
      /*display: none;
      position: absolute;
      left: 50%;
      width: 120%;
      margin-top: -10px;      
      transform: translateX(-50%);*/
      background: rgba(#fff, .7);
      font-size: 18px;
      color: #444242;
      padding: 2px 7px 7px;
      .subitem {
        .link {
          color: #444242;
        }
        padding: 5px;
        border-bottom: 1px solid #444242;
      }
    }
    position: relative;
    border: 1px solid transparent;
    font-size: 20px;
    line-height: 28px;
    height: 28px;
    box-sizing: border-box;
    padding: 0 7px;
    border-radius: 1px;
    transition: 400ms;
    &.cur,
    &:hover {
      border: 1px solid #141011;
      background: rgba(68, 66, 66, .7);
    }
    &:hover .subnavs_wraper {
      display: block;
      visibility: visible;
    }
  }
  &.dark {
    .logo {
      background: url('../../../assets/logoI.png');
    }
    .item {
      .link {
        color: #444242;
      }
      &.cur,
      &:hover {
        border: 1px solid #141011;
        background: rgba( 68, 66, 66, .7);
        .link {
          color: #fff;
        }
        .subitem .link {
          color: #444242;
        }
      }
    }
  }
}