.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #000;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.anticon {
  padding: 0 1px;
}

.ant-menu-dark.ant-menu-horizontal {

}
.ant-menu-dark, .ant-menu-dark .ant-menu-sub{
  background: #333!important;
}