.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #000;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.anticon {
  padding: 0 1px;
}

.ant-menu-dark.ant-menu-horizontal {}

.ant-menu-dark,
.ant-menu-dark .ant-menu-sub {
  background: #333!important;
}

.dots {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
}

.dots li button {
  display: inline-block;
  width: 64px;
  height: 12px;
  background: #878787;
  margin-right: 25px;
  transition: 400ms;
  cursor: pointer;
  font-size: 0;
  border: none;
  outline: none;
  transition: 400ms;
}

.dots li {
  display: inline-block;
}

.dots li.slick-active button {
  background: #edecec;
}